<%= turbo_stream.replace "flash-messages" do %>
  <div class="alert alert-success">
    <i class="fas fa-check-circle"></i>
    Dispatch was successfully updated.
  </div>
<% end %>

<%= turbo_stream.replace "main_content" do %>
  <%= render template: 'dispatches/index' %>
<% end %>