<% content_for :page_title, "Callback Details" %>

<%= turbo_stream_from "callback_#{@callback.id}_activities" %>

<%= turbo_frame_tag "main_content", data: { turbo_action: "advance", controller: "callback-form" } do %>
  <main class="main-content">
    <%= render 'show_content', callback: @callback %>
  </main>
<% end %>